#home_center {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0 5px;
}

#area_style {
  width: 600px;
  min-height: 300px;
  border-radius: 40px;
  box-shadow: 0 0 25px;
  margin: auto;
  margin-top: 60px;
  padding: 30px;
  background-color: #fff;
  text-align: center;
}

#area_style > .style-head {
  text-align: center;
  display: block;
  max-width: 200px;
  margin: 10px auto 35px;
}

.home-style {
  background-color: rgba(101, 161, 222, 0.557);
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.home-next {
  display: inline;
  border-right: 1px solid;
}

.home-next>a {
  padding: 10px 25px;
  color: #282828;
  text-decoration: none;
  transition: background-color, color 300ms;
}

.home-next>a:hover {
  background-color: rgba(131, 164, 246, 0.734);
  color: #fff;
}

.home-next:last-child {
  border: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

@media all and (max-width: 650px) {
  #area_style {
    width: 75%;
    height: auto;
    margin-bottom: 70px;
  }

  .home-next {
    display: flex;
    justify-content: center;
  }
}
