.view {
  margin-top: 15px;
  padding: 5px 10px 5px;
}

.list-option {
  float: left;
  margin-left: 30px;
  margin-right: 10px;
}

.reset-list {
  float: right;
  margin-right: 20px;
}

.product {
  font-style: italic;
}

.add-product {
  margin-left: 20px;
}

.remove-product {
  margin: 3px 15px;
  display: inline;
}

@media all and (max-width: 650px) {
  .list-option {
    padding: 0;
    margin: 0;
    display: block;
  }

  .product {
    width: 100%;
    box-sizing: border-box;
  }

  .add-product {
    margin: 0;
    text-align: left !important;
  }

  .reset-list {
    float: none;
    margin-left: 15px;
  }
}
